

.Links_div{
    display: flex;
    justify-content: space-between;
    position: absolute;
    top:20%;
    left:60%;
    
}
.Images{
    position: relative;
}
.Links_div a{
    color:rgb(184, 8, 184);

}
.Links_div ul li{
    list-style-type: none;
    padding: 10px;
    font-size: 1.3em;
}
.Links_div ul li:first-child{
    color:red;
    text-decoration: underline;
    font-size: 1.3em;
}
.footer_img{
    width:100%;
    opacity: 0.8;
}


@media(max-width:768px){
   .Links_div{
       left:50%;
   }
}

@media(max-width:425px){       /*Mobile Screen*/
    .Links_div{
        top:0;
        left:10%;
        
    }
    .footer_img{
        width:0%;
        
    }
    .Links_div ul li{
        font-size: 16px;
    }
    
}


